{% import 'WojciechMKramBundle:Default:widgets.html.twig' as widgets %}
{% extends 'WojciechMKramBundle:Default:index_inner.html.twig' %}

{% block inner_content %}
	{{ parent() }}
	
	<h4>{% trans %}Balance{% endtrans %}: {{ total }}</h4>
{% endblock %}
