{% import 'WojciechMKramBundle:Default:widgets.html.twig' as widgets %}
{% extends 'WojciechMKramBundle:Default:index_inner.html.twig' %}

{% block inner_content %}
	{{ parent() }}
	
	<h4>
		{% trans %}Balance{% endtrans %}:
		<span class="summary
			{% if total < 0 %}debt{% else %}paid{% endif %}"
		>{{ total }}</span>
	</h4>
	<h4>
		{% trans %}Collectors{% endtrans %}:
		<ul>
			{% for collector in collectors %}
				<li>{{ collector }}</li>
			{% endfor %}
		</ul>
	</h4>
{% endblock %}
