{% extends 'WojciechMKramBundle:Default:base.html.twig' %}

{% block content -%}
    <h1>ShoppingList</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Datecreated</th>
                <td>{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
            	<th>{% trans %}Items{% endtrans %}</th>
            	<td>
            		<ul>
		            {% for entry in entity.entries %}
		            	<li>{{ entry.name }} - {{ entry.users|length }}</li>
		            {% endfor %}
		            </ul>
		        </td>
        </tbody>
    </table>
{% endblock %}
