{% extends 'WojciechMKramBundle:Default:base.html.twig' %}

{% block content -%}
    <h1>PaymentType creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('payment_type') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
