@import "blueprint/liquid";

$grid-background-column-width: $blueprint-liquid-grid-width;
$grid-background-gutter-width: $blueprint-liquid-grid-margin;
$grid-background-offset: 0;

$blueprint-button-font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;

$blueprint-button-border-color: #dedede;

$blueprint-button-background-color: whitesmoke;
$blueprint-button-font-color: #336699;
$blueprint-button-hover-border-color: #c2e1ef;

$blueprint-button-hover-background-color: #dff4ff;
$blueprint-button-hover-font-color: lighter($blueprint-button-font-color, 20%);
$blueprint-button-active-border-color: #6299c5;

$blueprint-button-active-background-color: #6299c5;

$blueprint-dark-background: teal;
$blueprint-dark-color: white;